@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul,
    ol {
        list-style: revert;
    }
}

[x-cloak] {
    display: none;
}

/* .swiper {
    width: 600px;
    height: 300px;
} */

/* .swiper-wrapper {
    @apply h-scre;
} */
